<html>
  <head>
      <title><%= title %> </title>

      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="/javascripts/socketIo.js"></script>
      <script type="text/javascript" src="/javascripts/dataManagement.js"></script>
      <script type="text/javascript" src="/javascripts/eventsHandler.js"></script>
  </head>

  <body onLoad='loadInitParam(<%-JSON.stringify(pantryInitialContent) %>,
    <%-JSON.stringify(fridgeInitialContent) %>,
    <%-JSON.stringify(dishwasherInitialContent) %>,
    <%-JSON.stringify(tableInitialContent) %>)'>
      <div id="title">
        <h1>MAITRE</h1>
      </div>
      <div id="controlPanel">
        <div id="mainCommand">
          <form id="formTask" action="/task" method="post">
            <input id="prepareButton" type="button" name="task" value="prepare" onclick="send('prepare')"/>
            <input id="add_foodButton" type="button" name="task" value="add_food" onclick="send('add_food')" disabled/>
            <input id="clearButton" type="button" name="task" value="clear" onclick="send('clear')" disabled/>
            <input id="foodcodeText" type="text" name="foodcode" value="foodcode" disabled/>
            <input id="quantityText" type="text" name="quantity" value="quantity" disabled/>
          </form>

        </div>
        <div id="srCommand">
          <form action="/task" method="post">
            <input id="stopButton" type="button" name="task" value="stop" onclick="send('stop')" disabled/>
            <input id="reactivateButton" type="button" name="task" value="reactivate" onclick="send('reactivate')" disabled/>
          </form>
        </div>
      </div>
      <div id="contentRoom">
          <div id="pantrySection">
            <h3>Pantry</h3>
            <div id="pantryContent">

            </div>
          </div>
          <div id="dishwasherSection">
            <h3>Dishwasher</h3>
            <div id="dishwasherContent">

            </div>
          </div>
          <div id="fridgeSection">
            <h3>Fridge</h3>
            <div id="fridgeContent">

            </div>
          </div>
          <div id="tableSection">
            <h3>Table</h3>
            <div id="tableContent">

            </div>
          </div>
      </div>
  </body>
</html>
