<html>
  <head>
      <title><%= title %> </title>

      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <script type="text/javascript">
        var socket = io.connect();
        socket.on('connect',function(){console.log("socket connected");});
        socket.on('message',function(v){
          console.log(v)
          switch(true){
            case v.includes('modelChangeMaitre(maitre,prepare'):
              document.getElementById("temp").innerHTML="prepare";
              document.getElementById('addFoodButton').disabled=false;
              document.getElementById('foodcodeText').disabled=false;
              document.getElementById('quantityText').disabled=false;
              document.getElementById('stopButton').disabled=true;
              document.getElementById('reactivateButton').disabled=true;
              break;

          case v.includes('modelChangeMaitre(maitre,add_food'):
            document.getElementById("temp").innerHTML="addFood";
            document.getElementById('clearButton').disabled=false;
            document.getElementById('foodcodeText').disabled=true;
            document.getElementById('quantityText').disabled=true;
            document.getElementById('stopButton').disabled=true;
            document.getElementById('reactivateButton').disabled=true;
            break;

          case v.includes('modelChangeMaitre(maitre,clear'):
            document.getElementById("temp").innerHTML="clear";
            document.getElementById('prepareButton').disabled=false;
            document.getElementById('stopButton').disabled=true;
            document.getElementById('reactivateButton').disabled=true;
            break;
          case v.includes('updateContent'):
            var field=v.replace("updateContent(","").replace(")","").split(",")
            console.log(field)
            updateData(field)
            break;
        }
      });

        /*functions*/
        function updateData(field){
          var section=document.getElementById(field[0]+"Content")
          var trovato=false;
          section.childNodes.forEach((e)=>{
            if(e.id===field[1]){
              trovato=true
              console.log(parseInt(e.innerHTML.split(" ")[1]))
              if(field[4]==="put"){
                e.innerHTML=parseInt(e.innerHTML.split(" ")[1])+parseInt(field[4])
              }
              if(field[4]==="take"){
                e.innerHTML=parseInt(e.innerHTML.split(" ")[1])-parseInt(field[4])
              }
            }
          })
          if(!trovato){
            var node = document.createElement("P");
            nome.id=field[1]
            var textnode = document.createTextNode("");
            node.appendChild(textnode);
            fatherDiv.appendChild(node);
          }
        }

        function loadInitParam(){
            loadPantryData()
            loadFridgeData()
            loadDishwasherData()
            loadTableData()
        }

        function fillWithData(data,nameSection){
          var fatherDiv = document.getElementById(nameSection);
          if(data===null){
            var node = document.createElement("P");
            node.id="empty"
            var textnode = document.createTextNode("empty");
            node.appendChild(textnode);
            fatherDiv.appendChild(node);
            return
          }

          data=data.replace(/{|}|"/g,'').trim()
          var field=data.split(",")
          field.forEach((e)=>{
            var name=e.split(":")[0]
            var value=e.split(":")[1]

            var node = document.createElement("P");
            node.id=name
            var textnode = document.createTextNode(name+" "+value);
            node.appendChild(textnode);
            fatherDiv.appendChild(node);
          })
        }

        function loadPantryData(){
          var initData = <%-JSON.stringify(pantryInitialContent) %>
          fillWithData(initData,"pantryContent")
        }

        function loadFridgeData(){
          var initData = <%-JSON.stringify(fridgeInitialContent) %>
          fillWithData(initData,"fridgeContent")
        }

        function loadDishwasherData(){
          var initData = <%-JSON.stringify(dishwasherInitialContent) %>
          fillWithData(initData,"dishwasherContent")
        }

        function loadTableData(){
          var initData = <%-JSON.stringify(tableInitialContent) %>
          fillWithData(initData,"tableContent")
        }

        function send(task){
          console.log("onClick:"+task);
          var buttonToDisabled=task+"Button"
          document.getElementById(buttonToDisabled).disabled=true
          document.getElementById('stopButton').disabled=false
          document.getElementById('reactivateButton').disabled=false

          //submitting with AJAX
          var foodcode=document.getElementById('foodcodeText').value
          var quantity=document.getElementById('quantityText').value
          var http = new XMLHttpRequest();
          http.open("POST", "/task");
          http.setRequestHeader( "content-type", "application/x-www-form-urlencoded" );
          http.send("task="+task+"&foodcode="+foodcode+"&quantity="+quantity)
        }
      </script>
  </head>

  <body onLoad="loadInitParam()">
      <div id="title">
        <h1>MAITRE</h1>
      </div>
      <div id="controlPanel">
        <div id="mainCommand">
          <form id="formTask" action="/task" method="post">
            <input id="prepareButton" type="button" name="task" value="prepare" onclick="send('prepare')"/>
            <input id="addFoodButton" type="submit" name="task" value="add_food" onclick="send('addFood')" disabled/>
            <input id="clearButton" type="submit" name="task" value="clear" onclick="send('clear')" disabled/>
            <input id="foodcodeText" type="text" name="foodcode" value="foodcode" disabled/>
            <input id="quantityText" type="text" name="quantity" value="quantity" disabled/>
          </form>

        </div>
        <div id="srCommand">
          <form action="/task" method="post">
            <input id="stopButton" type="submit" name="task" value="stop" onclick="send('stop')" disabled/>
            <input id="reactivateButton" type="submit" name="task" value="reactivate" onclick="send('reactivate')" disabled/>
          </form>
        </div>
      </div>
      <div id="contentRoom">
          <div id="pantrySection">
            <h3>Pantry</h3>
            <div id="pantryContent">

            </div>
          </div>
          <div id="dishwasherSection">
            <h3>Dishwasher</h3>
            <div id="dishwasherContent">

            </div>
          </div>
          <div id="fridgeSection">
            <h3>Fridge</h3>
            <div id="fridgeContent">

            </div>
          </div>
          <div id="tableSection">
            <h3>Table</h3>
            <div id="tableContent">

            </div>
          </div>
      </div>

      <div id="arrivato">
        <p id="temp">Nada</p>
      </div>
  </body>
</html>
